header {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.btn {
  background-color: #009ffd;
  border-radius: 5px;
}
